<h1 class="text-center">Application 1 : Calculatrice</h1>

<div class="container p-3 my-3 contStyle1">
  <div class="row border p-3 my-3">
    <div class="col-4"><button type="button" class="btn btn-primary" (click)="getColor('blue')">blue</button></div>
    <div class="col-4"><button type="button" class="btn btn-danger" (click)="getColor('red')">rouge</button></div>
    <div class="col-4"><button type="button" class="btn btn-secondary" (click)="getColor('white')">blanc</button></div>
  </div>
</div>

<div class="container p-3 my-3 contStyle1">
  <div class="row border p-3 my-3">
    <input type="text"  class="form-control" [(ngModel)]="color" >
  </div>
</div>

<div class="container border p-3 my-3 contStyle" [ngStyle]="{'background-color': color}">


      <div class="row">
            <input type="text" class="form-control" id="dataInput" [value]="inputValue" disabled >
      </div>
      <br>

      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getOp('+')">+</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getOp('-')">-</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getOp('*')">*</button></div>
          </div>
          <div class="row">
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getNumber('7')">7</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getNumber('8')">8</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getNumber('9')">9</button></div>
          </div>
          <div class="row">
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('4')">4</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('5')">5</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('6')">6</button></div>
          </div>
          <div class="row">
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('1')">1</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('2')">2</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getNumber('3')">3</button></div>
          </div>
          <div class="row">
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getNumber('0')">0</button></div>
            <div class="col-4"><button type="button" class="btn btn-outline-dark squareBtn p-2" (click)="getP()">.</button></div>
            <div class="col-4"><button type="button" class="btn btn-danger squareBtn p-2"  (click)="reset()">AC</button></div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col"><button type="button" class="btn btn-outline-dark squareBtn p-2"  (click)="getOp('/')">/</button></div>
          </div>
          <div class="row">
            <div class="col"><button type="button" class="btn btn-primary p-2  equalBtn"  (click)="calc()" >=</button></div>
          </div>
        </div>
      </div>


</div>
