#dataInput{
  text-align: right;
}
.contStyle{
  width: 400px; height: 400px; margin:0 auto;
}
.equalBtn{
  display: block;height: 213px; width: 46px;margin: 5px 0;
}
.squareBtn{
  width: 46px;
  height: 46px;
  margin: 5px 0;
}
